table{
    font-size :16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.table thead{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border-bottom: none !important;
    
   
}
th{
    padding-left: 10px;
}
thead{
    border: none !important;
}
.table thead th:first-child {
    border-radius: 10px 0 0 10px;
  }
  .table thead  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  .table tbody tr:first-of-type {
    border-top: 2px solid #ffffff;
  }

  .table tbody tr:nth-of-type(odd) {
    background-color: inherit;
    border-radius: 10px 10px 0 10px;

  }

  .coinicon-lq{
      margin-right: 3px;
  }
  
  .myliquidity-container{
      background-color: #ffffff;
      padding: 15px 15px;
  }
  