.header-container{
    display: inline-block;
}
.dashboard-main{
    min-height:150vh;
    overflow-x: hidden !important;
  color: black;
  margin-top: 66px;
  display:flex;
  background-color:#f5f5fb;
    
}
.sidebar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.sidebar2{
    width: 90%;
}
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.sidebar-items {
    list-style: none;
    margin-top: 15px;
}
ul.sidebar-items li {
    padding: 8px 55px;
    /* border: 1px solid; */
}
.sidebar-items li a {
   
    border-radius: 7px;
    color:rgb(16, 14, 14)!important;
    width:150%;
}
.sidebar-items li a i{
    margin-right: 4px;
}
ul.sidebar-items li:hover{
    color:white !important;
    background-color:rgb(30, 80, 217);
    border-radius: 10px;
    margin-bottom:1px;
    transition: all 0.4s ease;
}
ul.sidebar-items li:hover a{
    color:white !important;
    
}
/* .sidebar-items li a:hover{
    color:white !important;
    background-color:rgb(30, 80, 217);
    
} */
.dashboard-item{
  /* flex:6; */
  
}
.div-bc{
    background: #FFFFFF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

.account-section{
    padding: 25px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.portfolio{
    background-color: rgb(255, 255, 255);
}
.account h5{
    font-weight:600;
    color: black;
}
.account-card p{
    font-weight:lighter !important;
    margin: 0;
    font-size: 12px;
}
.account-card strong{
    
    font-size: 1.5rem !important;
}
.account-card{
    height: 220px;
    width: auto;
    background: #1565D8;
box-shadow: 0px 10px 30px rgba(122, 137, 254, 0.04);
border-radius: 20px;
position: relative;

}
.account-card-circle {
    position: absolute;
    width: 199.44px;
    height: 199.44px;
    left: 287.65px;
    top: -94.07px;
    opacity: 0.1;
    border: 51px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 141px;
    transform: rotate(30deg);
}
.account-card-circle2 {
    position: absolute;
    width: 120.87px;
    height: 120.87px;
    left: -45.56px;
    top: 136px;
    opacity: 0.1;
    border: 23px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 123px;
    transform: rotate(30deg);
}
.account-card-circle3 {
    position: absolute;
    width: 74.08px;
    height: 74.08px;
    left: 347.28px;
    top: 163.44px;
    opacity: 0.2;
    border: 18px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 89px;
    transform: rotate(-60deg);
}

/* portfolio styles */

.portfolio{
    border-radius: .5rem !important;
    margin-top: 5px;
    color:black !important;
    padding-bottom: 20px;
    
}
.portfolio h5{
    
    font-weight:600;
    color: black;
    padding: 12px;
}

/* wallet table */
.wallet-table{
    background: #FFFFFF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
border-radius: 10px;
min-height :200px;
min-width :200px;
margin: 43px;
}
.wallet-icon{
    padding:20px 0 0 20px;
}

.wallet-icon img{
    height: 23px;
    width: 23px;
    
}
.wallet-table-wrapper {
    padding:0px 15px;
    padding-bottom:15px;
    
} 

/* bitx platform */

.bitx-platform{
    margin-left: 43px;
}
.bitx-platform p{
    padding:0;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;

color: #000000;
}

.bitx-platform-chart{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-right: 28px;
    padding-bottom: 20px;
    

}
.bitx-platform-piechart{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    

}
.chart-header{
    padding:20px 0 0 20px;
}
.chart-header-left h6{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 18px;

color: #000000;
}
.chartspan{
    font-weight: 500;
font-size: 20px !important;

}
.chart-header-left p{
    
font-weight: 100;
font-size: 12px;
color: #514f4f;
}

/* bitx platform row2 */
.bitx-p-row2{
    margin: 43px;
    
}
.bitx-p-row2-chart{
    margin-right: 28px;
}
.bitx-p-row2-chart-header{
    display: flex;
    flex-direction: row;
    padding:20px 0 0 20px;
}
.bitx-p-row2-chart-header img{
    margin-right: 10px;
    width: 13px;
height: 51px;
}
.bitx-p-row2-chart-header h6{
    margin-top:3px;
}
.total-diposit{
    margin-right: 50px;
}
.total-diposit-monitor-green{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #17B294 !important;
    
}
.t-d-b{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    
    color: #000000;
    
    opacity: 0.6;
}
.anc-buyback{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 146% */
color: #000000;
opacity: 0.6;
}
.anc, .ust{
    font-family: 'Manrope';
    font-weight: 700;
font-size: 21px;
line-height: 18px;
}
.ancust{
    font-weight: 500;
font-size: 16px !important;
}

/* stablecoin table */
.stc-head{
    font-weight: 600;
font-size: 16px !important;
line-height: 18px;
}
.stablecoin-table-container{
    padding: 10px;
    margin-left: 43px !important;

}

/* last chart */
.last-chart-container{
    margin-left:43px;
    margin-top: 40px;
}
.percentage-red{
    font-weight: 600;
font-size: 11.1429px;
line-height: 15px;

color: #D80000;
}

/* collarate-market-table-container */
.collarate-market-table-container{
    margin-left:43px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
}

.collarate-markt-span{
    font-weight: 500;
font-size: 11px;
line-height: 18px;
color: #000000;
opacity: 0.6;
}


/* responsive design */

@media (max-width: 767px){

    .sidebar {
        /* display: none !important; */
        /* flex: 1 1; */
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 999;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: all 0.4s ease;
    }
    ul.sidebar-items li {
        padding: 0px;
        
    }
    .sidebar-items li a {
        display: flex;
        font-size: 1em;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }

    .sidebar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    ul.sidebar-items li {
        padding: 8px 5px;
        /* border: 1px solid; */
    }
    .sidebar-items li a {
       
        border-radius: 7px;
        color:rgb(16, 14, 14)!important;
        width:100%;
    }
    .sidebar2{
        width:90%;
    }
    .sidebar2 ul{
        padding-left:10px;
    }


    }

@media (max-width:991px){
    .output-coin{
        margin-top:25px;
    }
}